<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Request For Account</title>

    <!-- Icons font CSS-->
    <link href="colorlib-regform-5/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="colorlib-regform-5/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="colorlib-regform-5/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="colorlib-regform-5/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="colorlib-regform-5/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Request For DBE Account</h2>
                </div>

                <!--this is the message that will be displayed to the userame in case the provided username or email already exist in the DB --> 
                {{#if message}}
                <br>
                <div class="message" id="message">
                    <h3>{{message}}</h3>
                </div>
                <style>
                    .message{
                        color: red;
                        font-weight: bolder;
                        text-align: center;
                    }
                </style>
                {{/if}}

                <div class="card-body">
                    <form method="POST" action="/request-for-account">
                        <div class="form-row m-b-55">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="username">
                                            <div class="label">
                                                <label>Please use an appropriate username</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" name="email">
                                </div>
                                <div class="label">
                                    <label>Email must be a CGI email</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="password" name="pass" id="pass">
                                    <div class="label">
                                        <label>- Password needs to contain 8-15 characters</label> <br>
                                        <label>- Password must contain lowercase characters {a-z}, uppercase characters {A-Z}, numbers {0-9}, and special characters</label> <br>
                                        <label>- Special characters that can be userd are ! () - . ? [] _ ` ~ ; : ! @ # $ % ^ & * + =</label>
                                    </div>
                                    <style>
                                        .label{
                                            font-size: 10px;
                                            font-style: italic;
                                            color: rgb(112, 109, 109);
                                            opacity: 65%;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Confirm Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="password" name="confirm_pass" id="confirm_pass">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Account Type</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="type">
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option>Admin</option>
                                            <option>Normal</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Request For Account</button>
                            <script>
                                var pw = document.getElementById("pass").value;
                                var con_pw = document.getElementById("confirm_pass").value;

                                if(pw != con_pw){
                                    document.getElementById("message").innerHTML = "**Password and Confirm password are not the same!**";
                                    return false;
                                }
                                if (pw == "" || con_pw == ""){
                                    document.getElementById("message").innerHTML = "**Cannot leave password and confirm password fields blank**";
                                    rturn false; 
                                }

                                if(pw.length )
                            </script>
                        </div>
                        <div>
                            <br>
                            <h5>Already have an account? <a href="/login" id="redirect">Click Here</a></h5>
                            <style>
                                #redirect:hover{
                                    font-size: 20px;
                                    color: blueviolet;
                                }
                            </style>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="colorlib-regform-5/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="colorlib-regform-5/vendor/select2/select2.min.js"></script>
    <script src="colorlib-regform-5/vendor/datepicker/moment.min.js"></script>
    <script src="colorlib-regform-5/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="colorlib-regform-5/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->