<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Welcome to DBE (Database Explorer)! This is a centeralized database management system based online database repository.
    </p>
  </div>
</section>
