<div class="jumbotron mt-4" style="text-align: center;">
  <h1 class="display-4">Database Explorer</h1>
  <p class="lead">The perfect tool to manage all your database details!</p>
  <hr class="my-4">
  <p>
  </p>
  <a class="btn btn-primary btn-lg" href="/users/signup" role="button">Get Started!</a>
</div>
