<!DOCTYPE HTML>

<html>
	<head>
		<title>DBE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../main_page/css/main.css" />
		<noscript><link rel="stylesheet" href="../main_page//css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<div class="inner">
					<span class="icon solid major fa-cloud"></span>
					<h1>DBE<br />
					Database Explorer</a>.</h1>
					<p>The perfect tool to manage all your databases and their details</p>
					<ul class="actions special">
						<li><a href="/request-account" class="button scrolly">Get Started!</a></li>
						<li><a href="/login" class="button scrolly">Login!</a></li>
					</ul>
				</div>
			</section>


		<!-- Scripts -->
			<script src="../main_page//js/jquery.min.js"></script>
			<script src="../main_page//js/jquery.scrolly.min.js"></script>
			<script src="../main_page//js/browser.min.js"></script>
			<script src="../main_page//js/breakpoints.min.js"></script>
			<script src="../main_page//js/util.js"></script>
			<script src="../main_page//js/main.js"></script>

	</body>
</html>