<div class="jumbotron mt-4">
  <h1 class="display-4">Success</h1>
  <p class="lead">Your request for an account has been sent to the admin. </p>
  <hr class="my-4">
  <p>
  </p>
  <a class="btn btn-primary btn-lg" href="http://faztweb.com" role="button">FaztWeb</a>
</div>
